$slot_width: 100;
$slot_height: 100;

body,
html {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  font-family: "Reenie Beanie", cursive;
}

h1 {
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 6rem;
  font-size: 3rem;
  text-shadow: 2px 4px 2px #353535;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.wrapper {
  background-image: url(grass-1000-mm-architextures.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: inherit;
}

.slot_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;
  border-radius: 2rem;

  width: calc(3 * #{$slot_width}px);
  height: #{$slot_height}px;

  background: linear-gradient(45deg, grey 0%, lightgray 100%);
  box-shadow: -4px 7px 5px rgba(0, 0, 0, 0.66);

  &::before {
    content: "";
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 17rem;
    height: 1.5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

    background: linear-gradient(45deg, grey 0%, lightgray 100%);
    box-shadow: -8px -2px 12px rgba(0, 0, 0, 0.3);
  }

  .slot_box {
    width: #{$slot_width}px;
    height: #{$slot_height}px;
    border: 1px solid gray;
    box-sizing: border-box;

    background-image: url(/slot_image.png);
    background-size: 100px;
    background-position: 0 0;
    background-repeat: repeat-y;

    animation: none 3s infinite linear;
  }
}

.start_btn {
  z-index: 99;
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #ff3737;
  box-shadow: 0 0.6em #c21111, 0 0.9em rgba(0, 0, 0, 0.5);
  color: white;

  &:hover {
    background-color: #ff7f7f;
  }
}

.popup_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  z-index: 100;

  .popup {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 5rem 3rem;

    p {
      font-size: 1.5rem;
    }

    .to_know_hyeji_btn {
      cursor: pointer;
      margin-top: 2rem;
      border: 1px solid gray;
      padding: 1rem 2rem;

      &:hover {
        background-color: red;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  $slot_width: 80;
  $slot_height: 80;

  h1 {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }

  .slot_wrapper {
    width: calc(3 * #{$slot_width}px);
    padding: 0.5rem 1rem;

    &::before {
      width: 13rem;
      height: 1rem;
      top: -1rem;
    }

    .slot_box {
      width: #{$slot_width}px;
      height: #{$slot_height}px;
      background-size: #{$slot_width}px;
      background-image: url(/lucky_image_540.jpg);
    }
  }

  .popup_wrapper {
    .popup {
      padding: 3.5rem 1.5rem;

      p {
        font-size: 0.8rem;
      }

      .to_know_hyeji_btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  $slot_width: 60;
  $slot_height: 60;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .slot_wrapper {
    width: calc(3 * #{$slot_width}px);
    height: #{$slot_height}px;
    padding: 0.6rem 1.3rem;
    border-radius: 1.2rem;

    &::before {
      width: 10rem;
      height: 1rem;
      top: -0.9rem;
    }

    .slot_box {
      width: #{$slot_width}px;
      height: #{$slot_height}px;
      background-size: #{$slot_width}px;
    }
  }
}

@media screen and (max-width: 320px) {
  .popup_wrapper {
    .popup {
      padding: 1.8rem 1.5rem !important;

      p {
        font-size: 0.8rem !important;
      }

      .to_know_hyeji_btn {
        padding: 0.2rem 0.5rem !important;
        font-size: 0.7rem !important;
      }
    }
  }
}

@keyframes slotAnimation {
  0% {
    background-position-y: 0;
  }
  50% {
    background-position-y: -600px;
  }
  100% {
    background-position-y: -1200px;
  }
}
